*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Georgia, 'Times New Roman', serif;
}

body{
    background-color: #1d1d1d;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

nav, body, footer{
    max-width: 1200px;
    width: 100%;
}

a:hover{
    text-decoration: none;
    background-color: #e2e2e2;
    color: black;
}

a:hover img{
    filter: invert(0);
}

.container{
    padding: 10px;
}